#yoyoPic{
  width: 500px;
  text-align: center;
  margin: auto;
}

body {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: block;
}

li {
  display: inline;
}
