

body {
  text-align: center;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: block;
}

li {
  display: inline;
}

h2 {
  color: white;
}

h1 {
  color: white;
  background-color: grey;
  width: 80%;
  text-align: center;
  margin: auto;
}

#yoyoPic{
  width: 500px;
  text-align: center;
  margin: auto;
}

#user1{
  width: 500px;
  text-align: center;
  margin: auto;
}

#user2{
  width: 500px;
  text-align: center;
  margin: auto;
}

#field {
  background-color: white;
  margin: auto;
}
